<div class="game-container">
  <div class="dealer-hand">
    <!-- Zeige Dealer-Karten hier -->
    <div *ngFor="let card of dealerHand">
      <img class="card" src="/assets/cards/{{ card.code }}.png" />
    </div>
  </div>
  <div class="player-hand">
    <!-- Zeige Spieler-Karten hier -->
    <div *ngFor="let card of playerHand">
      <img class="card" src="/assets/cards/{{ card.code }}.png" />
    </div>
  </div>
  <div class="actions" *ngIf="!isGameOver">
    <button (click)="hit()" *ngIf="!playerDone">Hit</button>
    <button (click)="stand()" *ngIf="!playerDone">Stand</button>
    <button (click)="doubleDown()" *ngIf="playerHand.length === 2">
      Double Down
    </button>
    <button (click)="split()" *ngIf="canSplit()">Split</button>
  </div>
  <div class="game-over" *ngIf="isGameOver">
    <button (click)="startNewGame()">Neues Spiel</button>
  </div>
  <!-- Jeton-Auswahlbereich -->
  <div class="jetons">
    <img
      *ngFor="let value of jetonValues"
      class="jeton"
      [src]="'assets/jetons/' + value + '.png'"
      [attr.data-value]="value"
      draggable="true"
      (dragstart)="onDragStart($event)"
    />
  </div>

  <!-- Drop-Zone für Jetons -->
  <div class="jeton-drop-zone" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
    Setzen Sie Ihre Jetons hier
    <div *ngFor="let jetonValue of setJetons; let i = index" class="set-jeton">
      <img src="assets/jetons/{{ jetonValue }}.png" alt="Jeton" (click)="removeJeton(i)" />
    </div>
  </div>

  <!-- Einsatz anzeigen -->
  <div class="total-bet">
    Einsatz: {{ jetonService.getTotalBet() }}€
  </div>
</div>
